<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %>></title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
  <main>
    <header>
      <h1><%= title %></h1>
    </header>
    <form action="" method="post">
      <div class="form_row">
        <label for="password">Member password</label>
        <input type="password" name="member_password" required>
      </div>
      <button type="submit">Submit</button>
    </form>

    <br>
    <%- include('./partials/errors.ejs') %>
  </main>
</body>
</html>