* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  max-width: 900px;
  margin-inline: auto;
  background-color: lightgray;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 6px;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 12px;
}

h1 {
  margin-right: auto;
}

.message_card {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.message_card > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.link_btn {
  display: inline-block;
  padding: 6px 10px;
  background-color: white;
  color: black;
  text-decoration: none;
}

.link_btn:hover {
  cursor: pointer;
  outline: 1px solid black;
  border-radius: 4px;
}

/*
  --- Form
*/

.form_row {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 6px;
}

.form_row > input,
.form_row > textarea {
  padding: 4px;
}

.form_row > textarea {
  min-height: 60px;
  resize: none;
}

button[type="submit"] {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  background-color: white;
}

button[type='submit']:hover {
  cursor: pointer;
  outline: 1px solid black;
}
